:root {
    --main-color:#ed3124;
}

@font-face {
    font-family: 'Campton';
    src: url('../../assets/fonts/Campton-Book.otf'),
         url('../../assets/fonts/Campton-Medium.otf'),
         url('../../assets/fonts/Campton-Light.otf'),
         url('../../assets/fonts/Campton-SemiBold.otf'),
         url('../../assets/fonts/Campton-Bold.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.tosla_button {
    border-radius: 101vh;
    background-color: var(--main-color);
    color: #fff;
}

.tosla_button:hover {
    filter: brightness(85%);
}

.tosla_button:active {
    filter: brightness(60%);
}

.tosla_input {
    border: 0.25em solid var(--main-color);
    border-radius: 101vh;
}
