html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100%;
}

#info {
    background-color: var(--main-color);
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    flex-direction: column;
}

#login input, button {
    margin: 2.5% 0px;
    font-family: "Campton", sans-serif;
    outline: none;
    border: none;
}

#logo {
    width: calc(100% / 3);
}

* {
    font-family: "Campton", sans-serif;
}
